{% extends "board_base.html" %}

{% load static %}

{% block content %}
<!-- <div class="bg-white">
    <div class="flex items-center border rounded-lg">
        <img class="h-40 w-40 rounded-full" src="{{ MEDIA_URL }}profile.png" alt="Profile">
        <div class="ml-3">
            <div class="text-2xl font-medium">{{ user.get_full_name }}</div>
            <div class="text-xl text-gray-400">{{ user.get_user_detail }}</div>
        </div>
    </div>
</div> -->
<div class="rounded-[24px] bg-white">
    <form action="{% url 'create_view' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="">
            <div class="px-6 pt-6">
                <label for=""
                    class="block text-3xl font-medium text-gray-900">การตั้งค่าโพสต์</span></label>
            </div>
            <div class="py-2 md:py-4 px-9 md:px-11">
                <div class="grid grid-cols-10 md:grid-cols-13 gap-2">
                    <div class="col-span-4 md:col-span-3">
                        <label for="{{ create_form.post_type.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">ประเภทโพสต์ <span
                                class="text-red-600">*</span></label>
                        {{ create_form.post_type }}
                    </div>
                    <div class="col-span-6 md:col-span-5">
                        <label for="{{ create_form.years.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">ชั้นปี <span
                                class="text-red-600">*</span></label>
                        {{ create_form.years }}
                    </div>
                    <div class="col-span-10 md:col-span-5">
                        <label for="{{ create_form.majors.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">สาขา <span
                                class="text-red-600">*</span></label>
                        {{ create_form.majors }}
                    </div>
                    <div class="col-span-10 md:col-span-13">
                        <label for="{{ create_form.specializations.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">แขนง</label>
                        {{ create_form.specializations }}
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="px-6 pt-2">
                <label for=""
                    class="block text-3xl font-medium text-gray-900">เนื้อหาโพสต์</span></label>
            </div>
            <div class="py-2 md:py-4 px-9 md:px-11">
                <div class="grid grid-cols-1 gap-2 items-end pb-2">
                    <div class="">
                        <label for="{{ create_form.title.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">หัวข้อโพสต์ <span
                                class="text-red-600">*</span></label>
                            {{ create_form.title }}
                    </div>
                    <div class="">
                        <label for="{{ create_form.content.id_for_label }}"
                            class="block mb-2 text-lg font-medium text-gray-900">รายละเอียดเพิ่มเติม</label>
                            {{ create_form.content }}
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-2 items-end">
                    <div class="">
                        <label for=""
                            class="block mb-2 text-lg font-medium text-gray-900">ไฟล์ประกอบ</label>
                        <input type="file" name="files" id=""
                            class="w-full file:mr-3 file:py-2 file:px-4 hover:file:bg-gray-700 text-md rounded-md file:bg-gray-800 file:text-white border border-gray-200"
                            multiple>
                    </div>
                </div>
            </div>
        </div>

        <div class="block px-9 md:px-11 pb-4 pt-4">
            <div class="flex justify-end gap-3">
                <a href="{% url 'main_view' %}"
                    class="px-10 py-3 border rounded-lg text-md text-center text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium cursor-pointer">ยกเลิก</a>
                <button type="submit"
                    class="px-10 py-3 border rounded-lg text-md text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium cursor-pointer">โพสต์</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@4.0.1/dist/js/multi-select-tag.min.js"></script>

<script>
    var tagSelector = new MultiSelectTag('id_post_type', {
        maxSelection: 1,
        required: true,
        placeholder: '.',
        onChange: function (selected) {
            console.log('Selection changed:', selected);
        }
    });
    var tagSelector = new MultiSelectTag('id_years', {
        maxSelection: 4,
        required: true,
        placeholder: '.',
        onChange: function (selected) {
            console.log('Selection changed:', selected);
        }
    });
    var tagSelector = new MultiSelectTag('id_majors', {
        maxSelection: 4,
        required: true,
        placeholder: '.',
        onChange: function (selected) {
            console.log('Selection changed:', selected);
        }
    });
    var tagSelector = new MultiSelectTag('id_specializations', {
        maxSelection: 5,
        required: false,
        placeholder: '.',
        onChange: function (selected) {
            console.log('Selection changed:', selected);
        }
    });
</script>
{% endblock %}